<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/flory"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flory"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flory"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.date.record.ModifyActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.date.record.SelectFlowerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.date.record.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.NeighborsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.auth.UserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Flory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.profile.ProfileModifyActivity"
            android:exported="true"
            android:theme="@style/Theme.Flory" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.gift.SearchNeighborActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.gift.confirm.ConfirmActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.gift.confirm.PresentDetailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.gift.send.SelectNeighborActivity"
            android:exported="true" />
        <activity android:name=".presentation.gift.send.SelectBouquetActivity"
            android:exported="true" />
    </application>

</manifest>